<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Discussion:</strong>
    <%= project.discussion %>
  </p>

  <p>
    <strong>User Id:</strong>
    <%= project.user_id %>
  </p>

</div>
